
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule">
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
  <script src="~/Scripts/plugins/angular/angular.js"></script>
  <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
  <div ng-controller="schoolController">
     <input type="number" ng-model="num" /> Value of textbox: {{num}}
    <button ng-click="checkNumber()">Check number</button>

    <br />
    {{message}}
  </div>

</body>
</html>
