
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule">
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
  <script src="~/Scripts/plugins/angular/angular.js"></script>
  <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
  <div ng-controller="schoolController">
    <div ng-controller="studentController">
      In student: {{message}}
    </div>
    <div ng-controller="teacherController">
      In teacher: {{message}}
    </div>
    From school: {{message}}
  </div>

</body>
</html>
