  <!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Thêm mới danh mục

  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li><a href="#">Sản phẩm</a></li>
    <li><a ui-sref="product_categories">Danh mục</a></li>
    <li class="active">Thêm mới</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <!-- Horizontal Form -->
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Thêm mới</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" novalidate name="frmAddProductCategory" role="form" ng-submit="AddProductCategory()">
      <div class="box-body">
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Tên danh mục</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-maxlength="256" required name="name" ng-change="GetSeoTitle()" ng-model="productCategory.Name">
            <span ng-show="frmAddProductCategory.name.$invalid" class="has-error">Phải nhập tên danh mục</span>
            <span ng-show="frmAddProductCategory.name.$error.maxlength" class="has-error">Tên danh mục chỉ được 256 ký tự</span>

          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Tiêu đề SEO</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="alias" required ng-model="productCategory.Alias">
            <span ng-show="frmAddProductCategory.alias.$invalid" class="has-error">Phải nhập tiêu đề SEO</span>
            <span ng-show="frmAddProductCategory.alias.$error.maxlength" class="has-error">Tiêu đề SEO chỉ được 256 ký tự</span>


          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Mô tả ngắn</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="description" ng-maxlength="500" ng-model="productCategory.Description">
            <span ng-show="frmAddProductCategory.description.$error.maxlength" class="has-error">Mô tả chỉ được 500 ký tự</span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Danh mục cha</label>
          <div class="col-sm-10">
           <select name="parentId" class="form-control" ng-model="productCategory.ParentID" ng-options="option.ID as option.Name for option in parentCategories">
             <option value="">Danh mục gốc</option>
           </select>
            <input type="hidden" name="parentId" ng-model="productCategory.ParentID" />
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Thứ tự</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="displayOrder" required ng-model="productCategory.DisplayOrder">
            <span ng-show="frmAddProductCategory.displayOrder.$invalid" class="has-error">Phải nhập thứ tự</span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Hình ảnh</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="image" ng-model="productCategory.Image">
            <span ng-show="frmAddProductCategory.image.$error.maxlength" class="has-error">Hình ảnh chỉ được 256 ký tự</span>

          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Meta Keyword</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="metaKeyword" ng-model="productCategory.MetaKeyword">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Meta Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" name="metaKeyword" ng-model="productCategory.MetaDescription"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="status" ng-model="productCategory.Status" ng-checked="productCategory.Status"> Kích hoạt
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="homeFlag" ng-model="productCategory.HomeFlag" ng-checked="productCategory.HomeFlag"> Hiển thị trang chủ
              </label>
            </div>
          </div>
        </div>
      </div><!-- /.box-body -->
      <div class="box-footer">
        <button ui-sref="product_categories" class="btn btn-default">Hủy</button>
        <button type="submit" ng-disabled="frmAddProductCategory.$invalid" class="btn btn-success pull-right">Lưu</button>
      </div><!-- /.box-footer -->
    </form>
  </div><!-- /.box -->
</section><!-- /.content -->