<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="tedu.international@gmail.com"/>
  <add key="FromEmailPassword" value="3Muigiapcong$"/>
  <add key="FromName" value="TEDU"/>
  <add key="AdminEmail" value="ngoctoan89@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:55429/"/>
  <add key="EnableBundles" value="false"/>
  <!--Setting Ngan Luong payment-->
  <add key="MerchantId" value="46838"/>
  <add key="MerchantPassword" value="b2d2112d7533f970d70c2e13842e215a"/>
  <add key="MerchantEmail" value="ngoctoan89@gmail.com"/>
</appSettings>